@charset "utf-8";
/* CSS Document */
#footer{
	clear: both;
	position: relative;
	bottom: -20px;
	border: 3px solid black;
	height: 75px;
	background-color: #3c4543;
	display:block;
}

div h5
{
	text-align:center;
	color:#FFFFFF;
}